*{
	margin: 0;
	padding: 0;
	font-family: Vardana serif;

}
body{

	background-color: grey;
	color: white;
}

nav{
	display: flex;
	background-color: black;



}
nav ul{
	display: flex;
	justify-content: space-between;

}
nav li{

text-decoration: none;
list-style-type: none;
margin: 20px;
color: white;

}
nav  a{
	 list-style-type: none;
	 text-decoration: none;
	 color: white;

}